auto-gptq
datasets
hydra-core
jsonlines
nltk
numpy
optimum
pandas
protobuf
python-dotenv
scipy
sentencepiece
tiktoken
torch
cython
langchain
openai
langchain-openai
transformers @ git+https://github.com/huggingface/transformers@995a7ce9a80b80062ccfe0b2d78857fb17351e27
accelerate
textdiversity
lexical_diversity